html{
    scroll-behavior: smooth;
}

body { 
    background-color: white ;
}
.row{
    padding-left: 0;
    padding-right: 0;
}

/*Color: 9F91DA*/
/*Navs*/

.navbar-nav > li{
    padding-left:120px;
    padding-right:85px;
}

.color-me{
    color: #7764CA;
}
.color-me-blue{
    color: blue;
}


/*main content*/
#home{
    padding-top: 73px;
    height: 720px;
}

#appointments{
    padding-top: 73px;
    height: 740px;
}

#aboutus{
    padding-top: 73px;
    height: 740px;
}

/*Vectors*/
.vector1{
    margin-top: 70px;
    margin-left: 50px;
}
.vector2{
    top: 0;
    margin-top: 90px;
    margin-left: 190px;
}


/*Home content*/
.texthome{
    margin-left: 5%;
    margin-top: 20%;
    font-weight: 800;
}

/*Apointment content*/
.textappointment{
    margin-top: 38%;
    font-weight: 800;
}
.btn{
    margin-left: 65%;
}