/*SVGs*/

.svg1{
    margin-left: 40%;
    position: absolute;
}

.svg2{
    margin-left: 80%;
    position: absolute;
}

.svg3{
    position: absolute;
    margin-right:79% ;
    margin-top: 49%;
}
.svg4{
    position: absolute;
    margin-left: 56%;
    margin-top: 52%;
}
.svg5{
    position: absolute;
    margin-left: 87%;
    margin-top: 140%;
    margin-bottom: 0;
}
.svg6{
    position: absolute;
    margin-right: 87%;
    margin-top: 162%;
}
.svg7{
    position: absolute;
    margin-right: 90%;
    margin-top: 100%;
}